/* HEADER */
.banner-header {
  background-image: linear-gradient(to right, rgba(74, 106, 136, 0.603) , rgba(88, 165, 196, 0.514)), url('../images/header-compu.jpg');
  background-size: cover;
  height: 80vh;
}

.buttons-cont *:not(:last-child) {
  margin-right:2rem ;
}

.buttons-cont_user {
  color: #fff;
}

.buttons-cont_user:hover {
  color: #fff;
  text-decoration: none;
}

/* PRODUCTOS */

.price {
  font-size: 1.5rem;
}

.cant_prod {
  width: 2.5rem;
}

/* Ya Registrado */
.user_exists-info {
  font-size: 2rem;
}

/* Carrito de compras */
.img_carrito_prod {
  max-width: 13rem;
}

.descp_carrito_prod {
  max-width: 24rem;
}

@media (max-width: 575.98px) { 
  .main-title {
    font-size: 1.8rem;
  }
 }

